{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Things To See{% endblock %}</h1>
<a class="action" href="{{ url_for('main.index') }}">index</a>
<a class="action" href="{{ url_for('main.matplotlib') }}">matplotlib</a>
<a class="action" href="{{ url_for('main.d3') }}">D3</a>
{% endblock %}

{% block content %}
<script>
  $(function(){ // This is a "document ready" wrapper- it will happen last
      $( "#graphviz_form" ).submit(
	function(event) {
	  event.preventDefault(); // prevent clearing form on submit
	  data = {textarea: $("#form_textarea").val(),
		  selector: $("#form_select").val(),
		  axes_cbox: $("#form_cbox_axes").is(":checked"),
		  log_cbox: $("#form_cbox_log").is(":checked")
		 };
	  $.ajax({type:'POST',
		  url:'graphviz_form_submit',
		  data:JSON.stringify(data),
		  contentType: "application/json; charset=utf-8",
		  dataType: "json"
		 })
	    .done( function(returned_data) {
	      if (returned_data["message"] !== undefined) {
		alert(returned_data["message"]);
	      }
	      $("#image_area").html(returned_data["image"])
	    })
	    .fail(function(jqxhr, textStatus, error) {
	      $("#spinner_div").removeClass("show-spinner");
	      alert('Error: '+jqxhr.responseText);
	    });
	}
      );
  });
</script>
<h1>GraphViz Example</h1>
<form id="graphviz_form">
  <label for="form_textfield">The Dot Languate to render: </label>
  <textarea id="form_textarea" name="form_textarea" rows=4 columns=50>
  </textarea>
  <label for="form_select">Layout engine: </label>
  <select name="form_select" id="form_select">
    {% for l_e in layout_engines %}
    <option value="{{l_e}}">{{l_e}}</option>
    {% endfor %}
  </select>
  <label for="form_cbox_axis">Show Axes:</label>
  <input type="checkbox" id="form_cbox_axes" name="form_cbox_axis">
  <label for="form_cbox_log">Log Scale:</label>
  <input type="checkbox" id="form_cbox_log" name="form_cbox_log">
  </input>
  
  <input type="submit">
</form>
<div id="image_area">
</div>
  
{% endblock %}
